<ion-header>
  <ion-navbar>
    <ion-title>
      First Project 2
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)"
  ></ion-searchbar>

  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
  <h1>Outline Buttons</h1>
  <button ion-button color="default" outline (click)="buttonClicked()">Light</button> <br />
  <button ion-button color="danger" (click)="buttonClicked2()">Danger</button> <br/>
  <h2>Small and Round Button</h2>
  <button ion-button color="dark" round small>Danger</button><br/>

  <ion-list inset>
      <h3>Username and Password fields</h3>
      <ion-item>
        <ion-label></ion-label>
        <ion-input type="text" placeholder="Username"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label></ion-label>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-twitter" item-start></ion-icon>
        Followers
        <ion-badge item-end>260k</ion-badge>
      </ion-item>
      <h4>select drop down list</h4>

  

      <div padding>
        <button ion-button color="default" (click)="loginAlert()" round small block>Sign In</button>  
      </div>
    </ion-list>
    <ion-list>
        <ion-item>
          <ion-label>check list</ion-label>
            <ion-select [(ngModel)]="gaming">
              <ion-option value="save">save password</ion-option>
              <ion-option value="loggedIn">Keep me logged In</ion-option>
              <ion-option value="msg">Don't ask Again</ion-option>
            </ion-select>
        </ion-item>  
      </ion-list>
</ion-content>
